@import "~bootstrap/scss/bootstrap";

main {
    background-color: lightcoral;
}
.photo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}
.carica-foto {
    text-align: right;
}
